.backgroundColor {
    -fx-background-color: linear-gradient(#383838,#2d2d2d);
}

.UIButton {
	-fx-background-color: transparent;
}

.UIButton:hover {
	-fx-cursor: hand;
}

.confirmButton:hover {
	-fx-cursor: hand;
}

.resetLabel:hover {
	-fx-cursor: hand;
}

.UIButton:hover .UIIcon {
    -fx-opacity: 0.50;
}
