.backgroundColor {
    -fx-background-color: linear-gradient(#383838,#2d2d2d);
}

.UIButton {
	-fx-background-color: transparent;
}

.UIButton:hover {
	-fx-cursor: hand;
}

.UIButton:hover .UIIcon {
    -fx-opacity: 0.75;
}

.navbutton {
	-fx-background-color: black;
}

.white-bg {
	-fx-background-color: #fff;
	-fx-background-radius: 5px;
}

.shadow {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
}

.table-view {
	-fx-padding: 0px;
}

.table-view .column-header-background {
	-fx-background-color: linear-gradient(to right, #383838, #2d2d2d);
	-fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter {
	-fx-background-color: transparent;
	-fx-size: 30px;
}

.table-view .column-header .label {
	-fx-text-fill: #fff;
}

.table-view .table-column{
	-fx-alignment: center ;
}